<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="YOUR-GUID-GENERATE-A-NEW-ONE"
          UpgradeCode="GENERATE-ANOTHER-ONE"
          Language='1033' Codepage='1252' Version='1.0.0'
          Name="MyProduct"
          Manufacturer='MyCompany'>

    <Package Id='*' Keywords='Installer' Description="My awesome super product"
          Comments='Blaaaa' Manufacturer='MyCompany'
          InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' EmbedCab='yes' Cabinet="main.cab" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.SourceDir)\LICENSE.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.SourceDir)\public\images\msi-banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.SourceDir)\public\images\msi-welcome.bmp" />

    <Icon Id="icon.ico" SourceFile="$(var.SourceDir)\public\images\logo.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />


    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='MyCompany_Folder' Name='MyCompany'>
          <Directory Id='INSTALLDIR' Name='MyProduct'>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" 
                    Name="MyProduct"/>
      </Directory>
    </Directory>

    <CustomAction Id="LaunchBrowser"
          ExeCommand="explorer.exe &quot;http://localhost:9000/&quot;"
          Directory="INSTALLDIR"
          Return="asyncNoWait" >
    </CustomAction>

    <InstallExecuteSequence>
      <Custom Action='RegisterMyProductService'
              Before='StartServices'>NOT Installed</Custom>
      <Custom Action="LaunchBrowser"
              OnExit="success">NOT Installed</Custom>
    </InstallExecuteSequence>

    <Feature Id='Complete' Level='1'>
      <ComponentGroupRef Id='MainComponentGroup' />
      <ComponentRef Id="ApplicationShortcut" />
      <Component Id="node_component" Guid="{AAAAAAAA-C0C2-4D3F-BC22-EC7AE4963FFF}" Directory="INSTALLDIR">
        <File Id="node" KeyPath="yes" Source="C:\Program Files (x86)\nodejs\node.exe" />
      </Component>
      
      <Component Id="nssm_component" Guid="{AAAAAAAA-CBB2-4F3F-BC22-EC7AE4963FFF}" Directory="INSTALLDIR">
        <File Id="nssm" KeyPath="yes" Source="C:\Program Files (x86)\nssm-2.24\win32\nssm.exe" />

        <ServiceControl Id="ControlMyProductService"
                 Name="MyProduct Service"
                 Remove="uninstall"
                 Stop="uninstall" />
      </Component>
   
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <UIRef Id="WixUI" />

  </Product>
</Wix>