<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
  
    <CustomAction
      Id='RegisterMyProductService'
      Impersonate="no"  
      Execute="deferred" 
      FileKey='nssm'
      ExeCommand='install "MyProduct Service" "[INSTALLDIR]\node.exe" "\"[INSTALLDIR]\server.js\""'
      Return='asyncWait' />

  </Fragment>
</Wix>